fastapi
uvicorn[standard]
selenium
webdriver-manager
shapely
selenium
geopy
python-dotenv
openai
apscheduler
python-jose
pydantic[email]
openpyxl
pymongo
Pillow
fastapi-analytics
beautifulsoup4
scipy
httpx
